# Created by .ignore support plugin (hsz.mobi)
.idea/
configuration-service/configuration-service.iml
configuration-service/target/
spring-cloud-netflix-microservice-rabbitmq-camel-docker-travel-environment.iml
